@import 'styles/templates.scss';

.buy-more-space-modal {
  width: 400px;

  &__icon {
    @include flex;
    font-size: 2.7rem;
    color: $colorDarkGrey3;
    margin-right: 15px;
  }

  &__message {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    padding-bottom: 25px;
    border-bottom: 1px solid $colorLightGrey2;
  }

  &__button {
    width: 100%;

    .button {
      width: 100%;
      height: 45px;
    }
  }
}