@import 'styles/templates.scss';

.select-item {
  @include button-el;
  display: flex;
  align-items: center;
  padding-left: 20px;
  height: 40px;

  &__icon {
    @include flex;
    font-size: 1.4rem;
    margin-right: 10px;
    color: $colorDarkGrey2;
  }
}