@import 'styles/templates.scss';

.file-uploader {
  display: flex;
  align-items: center;

  &__textfild {
    display: none;
  }

  &__icon {
    @include flex;
    position: absolute;
    right: 10px;
    font-size: 1.3rem;
    color: $colorDarkBlue;
  }

  &__label {
    @include flex;
    @include button-el;
    font-size: 0.95rem;
    position: relative;
    padding: 5px 10px;
    height: 40px;
    border-radius: 3px;
    border: 1px dashed $colorLightGrey;

    &.icon {
      padding-right: 40px;
      border: 1px dashed $colorBlue;
      background-color: $colorLightBlue2;
    }
  }

  &__file-info {
    flex: 1 1 auto;
    height: 40px;
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding-right: 10px;
  }

  &__name, &__size {
    font-size: 1rem;
    color: $colorDarkGrey3;
  }

  &__name {
    max-width: 180px;
    overflow: auto;

    &::-webkit-scrollbar {
      height: 8px;
    }

    &::-webkit-scrollbar-track {
      background: $colorWhite;
      height: 10px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $colorLightGrey2;
      border: 1px solid $colorWhite;
    }
  }
}

@media screen and (max-width: 500px) {
  .file-uploader {
    flex-wrap: wrap;
  }
}
