@import 'styles/templates.scss';

.storage-last-item {
  @include flex;
  @include button-el-active;
  transition: width 0s;
  overflow: hidden;
  flex-direction: column;
  height: 100%;
  padding: $storagePadding;
  width: 100%;
  max-width: 250px;
  margin-right: 10px;
  border: $storageBorder;
  border-radius: 10px;

  &__icon {
    font-size: 3.6rem;
    color: $colorDarkGrey2;

    &.grey {
      color: $colorDarkGrey2;
    }

    &.blue {
      color: $colorBlue;
    }

    &.red {
      color: $colorRed;
    }

    &.yellow {
      color: $colorYellow;
    }
  }
}