@import 'styles/templates.scss';

.get-link-item {
  width: 380px;

  &__title {
    font-size: 1.4rem;
    margin: 0;
    margin-bottom: 30px;
  }

  &__input {
    @include input;
    width: 100%;
    
    &.grey {
      color: $colorDarkGrey2;
    }
  }
}

@media screen and (max-width: 500px) {
  .get-link-item {
    width: 100%;
  }
}