@import 'styles/templates.scss';

.get-link-item {
  &__title {
    font-size: 1.5rem;
    margin: 0;
    margin-bottom: 30px;
  }

  &__input {
    @include input;
    width: 100%;
    
    &.grey {
      color: $colorDarkGrey2;
    }
  }
}