@import 'styles/templates.scss';

.storage-aside {
  background-color: rgb(255, 176, 176);
  min-width: 50px;
  margin-left: $storageMargin;
}

@media screen and (max-width: 560px) {
  .storage-aside {
    display: none !important;
  }
}