@import 'styles/templates.scss';

.storage-aside {
  min-width: 50px;
  padding: $storagePadding;
  border-left: $storageBorder;
}

@media screen and (max-width: 560px) {
  .storage-aside {
    display: none !important;
  }
}