@import 'styles/templates.scss';

.settings {
  position: relative;

  .popup {
    width: 300px;
  }

  .button.icon.open {
    background-color: $colorLightBlue2;
    border: 1px solid $colorLightBlue1;
  }
}