@import 'styles/templates.scss';

.select {
  position: relative;
  height: 48px;

  &__items {
    overflow: hidden;
    padding: 15px 0;
    border-radius: 3px;
    background-color: $colorWhite;
    border: 1px solid $colorLightGrey3;
    border-top: 1px solid $colorWhite;

    &.close {
      padding: 0;
    }
  }

  &__icon {
    @include flex;
    position: absolute;
    height: 48px;
    padding-left: 15px;
    font-size: 1.4rem;
    color: $colorDarkGrey2;
    cursor: pointer;
  }

  &__chevron {
    @include flex;
    position: absolute;
    height: 48px;
    right: 0;
    font-size: 1.4rem;
    width: 45px;
    color: $colorDarkGrey2;
    cursor: pointer;
  }

  &__textfild {
    @include input;
    transition: none !important;
    height: 100%;
    width: 100%;
    cursor: pointer;
  }

  &__placeholder {
    font-size: 1rem;
    border-radius: 10px;
    top: 13px;
    left: 20px;
    color: $colorDarkGrey2;
    padding: 0 5px;
    position: absolute;
    background-color: $colorWhite;
  }
}

.select:hover .select__textfild {
  outline: 1px solid $colorBlue;
}

.select.icon {
  .select__textfild {
    padding-left: 45px;
  }
}