@import 'styles/templates.scss';

.settings-popup {
  &__hotkeys, &__settings {
    color: $colorBlack;
    cursor: pointer;
    display: flex;
    align-items: center;
    height: 40px;
    transition: all $animationDuration;
    padding-left: 30px;
  }

  &__hotkeys:hover, &__settings:hover {
    background-color: $colorLightGrey4;
  }
}