@import 'styles/templates.scss';

.change-parent-item {
  width: 440px;

  &__title {
    font-size: 1.4rem;
    margin: 0;
    margin-bottom: 30px;
  }

  &__folders {
    border-top: $storageBorder;
    max-height: 300px;
    overflow: auto;
  }

  &__drive {
    @include button-el;
    height: 45px;
    display: flex;
    align-items: center;
    border-bottom: $storageBorder;

    &.active {
      background-color: $colorLightBlue2;
      border-bottom: 1px solid $colorLightBlue1;
    }
  }

  &__icon {
    @include flex;
    color: $colorDarkGrey2;
    font-size: 1.7rem;
    margin-left: 15px;
    margin-right: 15px;
  }

  &__folders-title {
    font-size: 1rem;
    color: $colorDarkGrey3;
    font-weight: normal;
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 500px) {
  .change-parent-item {
    width: 100%;
  }
}