@import 'styles/templates.scss';

.storage-sorter {
  @include workplace-grid;
  top: 0;
  position: sticky;
  background-color: $colorWhite;
  height: $storageSorterHeight;
  padding: $storagePadding;
  padding-left: 20px;
  border-bottom: $storageBorder;
}

@media screen and (max-width: 750px) {
  .storage-sorter {
    grid-template-columns: 1fr 100px 130px;
 
    .sort-item:last-child {
      display: none;
    }
  }
}

@media screen and (max-width: 650px) {
  .storage-sorter {
    grid-template-columns: 1fr 100px;

    .sort-item:nth-child(3) {
      display: none;
    }
  }
}

@media screen and (max-width: 500px) {
  .storage-sorter {
    height: $storageSorterHeight - 6px;
  }
}

@media screen and (max-width: 450px) {
  .storage-sorter {
    grid-template-columns: 1fr;

    .sort-item:nth-child(2) {
      display: none;
    }
  }
}