@import 'styles/templates.scss';

.storage-additions {
  position: relative;
  display: flex;
  height: 100%;

  &__content {
    cursor: pointer;
    padding-top: 60px;
    position: absolute;
    top: -65px;
    right: 0px;
    width: calc(100% - 50px);
    padding-left: 10px;
    height: 100%;
  }

  &__close {
    @include flex;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    position: absolute;
    right: 0;
    top: 0px;
    font-size: 1.4rem;
    transition: all $animationDuration;

    &:hover {
      background-color: $colorLightGrey4;
    }
  }
}