@import 'styles/templates.scss';

.storage-layout {
  overflow: hidden;
  height: 100vh;
  transition: all $animationDuration;

  &__header {
    display: flex;
    justify-content: space-between;
    height: $storageHeaderHeight;
    padding: $storagePadding;
    border-bottom: $storageBorder;
  }

  &__header-block {
    display: flex;
    flex: 1 1 auto;
  }

  &__main {
    display: flex;
    justify-content: space-between;
    height: Calc(100% - ($storageHeaderHeight + $storageMargin));
  }

  &__main-block {
    flex: 1 1 auto;
    display: flex;
    overflow: hidden;
  }
}

@media screen and (max-width: 500px) {
  .storage-layout {
    &__header {
      height: $storageHeaderHeight - 6px;
    }
  }  
}
