@import 'styles/templates.scss';

.apps-popup-item {
  padding: 10px;
  width: 85px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $colorBlack;
  transition: all $animationDuration;

  &:hover {
    background-color: $colorLightGrey4;
  }

  &__icon {
    font-size: 2.5rem;
    margin-bottom: 5px;
  }
}