@import 'styles/templates.scss';

.notifier-message.default {
  @include notifier-message($colorLightGrey4, $colorDarkGrey3);
}

.notifier-message.red {
  @include notifier-message($colorLightRed1, $colorLightRed);
}

.notifier-message.yellow {
  @include notifier-message($colorLightYellow1, $colorLightYellow);
}

.notifier-message.green {
  @include notifier-message($colorLightGreen1, $colorLightGreen);
}

.notifier-message {
  .notifier-message__icon {
    min-height: 30px;
    min-width: 35px;
  }

  .notifier-message__text {
    padding: 15px 20px;
    font-size: 1rem;
    padding-right: 5px
  }
}

@media screen and (min-width: 500px) {
  .notifier-message {
    .notifier-message__icon {
      min-height: 30px;
      min-width: 45px;
    }
  
    .notifier-message__text {
      font-size: 1.1rem;
      padding: 18px 30px;
      padding-left: 35px;
    }
  }
}