@import 'styles/templates.scss';

.storage-menu-item {
  color: $colorBlack;
  transition: all $animationDuration;
  border: 1px solid $colorWhite;
  display: flex;
  align-items: center;
  height: 45px;
  margin-top: 3px;
  margin-left: 7.5px;

  &:hover {
    color: $colorDarkBlue;

    .storage-menu-item__icon {
      color: $colorDarkBlue;
    }
  }

  &__icon {
    @include flex;
    transition: color $animationDuration;
    font-size: 1.7rem;
    color: $colorDarkGrey3;
    margin-left: 7.5px;
  }

  &__title {
    position: absolute;
    left: 70px;
    font-size: 1rem;
  }

  &.close {
    @include button-el-active;
    height: 45px;
    width: 45px;
    border-radius: 5px;
    margin-left: 7.5px;
  }
}

.storage-menu-item.active {
  color: $colorBlue;

  .storage-menu-item__icon {
    color: $colorBlue;
  }
}
