@import 'styles/templates.scss';

.change-data-album-modal {
  width: 400px;

  &__image, &__track, &__data {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
    justify-content: space-between;
  }

  &__button {
    margin-left: 20px;
  }

  .change-file, .change-tracks {
    height: 100%;
    width: 100%;
    padding-top: 30px;
  }

  .change-data {
    height: 100%;
    width: 100%;
    padding-top: 30px;

    .input {
      margin-bottom: 20px;
    }
  }

  .file-window-image {
    top: 0;
    right: 0;
  }

  .file-window-file {
    top: -100px;
    right: 0;
  }

  .file-window-data {
    bottom: 0;
    right: 0;
  }

  &__id {
    font-size: 0.9rem;
    position: absolute;
    color: $colorLightGrey1;
    top: 7px;
    right: 10px;
    padding-bottom: 3px;
    border-bottom: 1px solid $colorDarkGrey2;
  }

  .font-size {
    svg {
      font-size: 1.8rem;
    }
  }

  &__data {
    margin-bottom: 0;
  }

  &__current {
    width: 100%;
  }

  &__img {
    height: 100px;
    width: inherit;
    display: flex;
    align-items: center;
  }

  &__name {
    font-size: 1rem;
    padding-bottom: 10px;
  }

  &__name:last-child {
    padding-bottom: 0px;
  }
}