@import 'styles/templates.scss';

.create-track {
  &__title {
    font-size: 1.4rem;
    margin: 0;
    margin-bottom: 30px;
  }

  &__buttons {
    display: flex;
  }

  &__step {
    padding-top: 25px;
    height: 150px;

    .input, .file-uploader {
      margin-bottom: 25px;
    }

    .file-uploader__label {
      width: 230px;
    }
    
  }

  &__buttons {
    padding-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .button {
      height: 43px;
      width: 150px;
    }
  }

  &__modal {
    width: 600px;
  }
}


@media screen and (max-width: 500px) {
  .create-track {
    &__buttons {
      .button {
        width: auto;
      }
    }

    .step-title__title {
      width: 70px;
      text-align: center;
    }

    &__step {
      .file-uploader__label {
        width: 164px;
      }
      
    }
  }
}
