@import 'styles/templates.scss';
@import 'styles/animations.scss';

.storage-workplace-item {
  @include button-el;
  @include workplace-grid;
  color: $colorDarkGrey2;
  font-size: 0.9rem;
  height: 45px;
  padding-left: 20px;
  padding-right: 10px;
  border-bottom: $storageBorder;
  animation: defaultShow $animationDuration forwards;

  .storage-workplace-item__icon.play {
    transition: $animationDuration;
    font-size: 2rem;
    color: $colorBlue;
    border-radius: 5px;

    &:hover {
      background-color: $colorLightGrey3;
    }
  }

  &__name, &__access, &__open-date, &__size {
    display: flex;
    align-items: center;
  }

  &__name {
    color: $colorDarkGrey3;
    font-size: 1rem;
  }

  &__icon {
    font-size: 1.7rem;
    color: $colorDarkGrey2;
    margin-right: 15px;
    width: 30px;

    &.grey {
      color: $colorDarkGrey2;
    }

    &.blue {
      color: $colorBlue;
    }

    &.red {
      color: $colorRed;
    }

    &.yellow {
      color: $colorYellow;
    }
  }

  &__no-size {
    border-bottom: 2px solid $colorDarkGrey2;
    width: 30px;
  }

  &__star {
    @include flex;
    margin-left: 12px;
  }

  &__star-icon {
    color: $colorLightRed;
    font-size: 1rem;
  }

  &.active {
    color: $colorDarkBlue;
    background-color: $colorLightBlue2;
    border-bottom: 1px solid $colorLightBlue1;

    .storage-workplace-item__name {
      color: $colorDarkBlue;
    }
  }

  &.drag {
    position: relative;
    z-index: 10;
    transition: none;
    outline: 1px solid $colorLightBlue;
    background-color: $colorLightBlue2;
  }

  &.grey {
    position: relative;
    z-index: 10;
    transition: none;
    color: $colorLightGrey;
    outline: 1px solid $colorLightGrey2;
    background-color: 1px solid $colorLightGrey3;

    .storage-workplace-item__icon {
      color: $colorLightGrey1;
    }

    .storage-workplace-item__name {
      color: $colorLightGrey1;
    }
  }
}

@media screen and (max-width: 750px) {
  .storage-workplace-item {
    grid-template-columns: 1fr 100px 130px;
 
    &__size {
      display: none;
    }
  }
}

@media screen and (max-width: 650px) {
  .storage-workplace-item {
    grid-template-columns: 1fr 100px;

    &__open-date {
      display: none;
    }
  }
}

@media screen and (max-width: 450px) {
  .storage-workplace-item {
    grid-template-columns: 1fr;

    &__access {
      display: none;
    }
  }
}