@import 'styles/templates.scss';

.menu-item {
  transition: all $animationDuration;
  padding: 10px 10px;
  margin: 0 5px;
  font-size: 1.1rem;
  cursor: pointer;

  &:hover {
    color: $colorDarkBlue;
  }
}

.menu-item.active {
  color: $colorBlue;
}