@import './variables';

@mixin flex ($a: center, $b: center) {
  display: flex;
  justify-content: $a;
  align-items: $b;
}

@mixin border($color: $colorGrey) {
  border: 1px solid $color;
}

@mixin button-icon(
  $color: $colorBlack,
  $colorBg: $colorWhite,
  $hoverColor: $colorWhite,
  $hoverColorBg: $colorLightGrey4,
  $borderRadius: $buttonBorderRadius
) {
  @include flex;
  @include border($colorWhite);
  width: 45px;
  color: $color;
  background-color: $colorBg;
  height: 45px;
  border-radius: $borderRadius;
  transition: all $animationDuration;
  cursor: pointer;

  &:hover {
    background-color: $hoverColorBg;
    color: $hoverColor;
  }

  &:active {
    background-color: $colorLightGrey3;
  }
}

@mixin button(
  $color: $colorBlack,
  $colorBg: $colorWhite,
  $borderColor: $colorGrey,
  $hoverColor: $colorWhite,
  $hoverColorBg: $colorGrey,
  $hoverColorAc: $colorDarkGrey,
  $p1: 10px,
  $p2: 14px,
) {
  @include border($borderColor);
  @include flex;
  padding: $p1 $p2;
  color: $color;
  background-color: $colorBg;
  transition: all $animationDuration;
  cursor: pointer;

  &:hover {
    background-color: $hoverColorBg;
    color: $hoverColor;
  }

  &:active {
    background-color: $hoverColorAc;
  }
}

@mixin input {
  border: 1px solid $colorLightGrey3;
  border-radius: 3px;
  transition: $animationDuration;
  padding: 10px 10px 10px 20px;

  &:hover {
    outline: 1px solid $colorLightBlue;
  }

  &:focus {
    outline: 1px solid $colorBlue;
  }
}

@mixin notifier-message($colorBgMessage, $colorBgIcon) {
  position: relative;
  display: flex;
  margin-top: 10px;
  max-width: 500px;
  border-radius: $buttonBorderRadius;
  background-color: $colorBgMessage;
  color: $colorBgIcon;
  padding-right: 25px;

  .notifier-message__icon {
    @include flex;
    font-size: 1.2rem;
    color: $colorWhite;
    border-radius: $buttonBorderRadius 0 0 $buttonBorderRadius;
    background-color: $colorBgIcon;
  }

  .notifier-message__close {
    @include flex;
    cursor: pointer;
    font-size: 1.1rem;
    position: absolute;
    height: 25px;
    width: 25px;
    top: 3px;
    right: 3px;
  }
}

@mixin no-select {
  -ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
}

@mixin dashboard-grid {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 100px 130px 110px;
}

@mixin button-el {
  @include no-select;
  cursor: pointer;
  transition: all $animationDuration;

  &:hover {
    background-color: $colorLightGrey4;
  }

  &:active {
    background-color: $colorLightGrey3;
  }
}

@mixin button-el-active {
  @include button-el;
  border: 1px solid $colorWhite;

  &.active {
    background-color: $colorLightBlue2;
    border: 1px solid $colorLightBlue1;
    color: $colorDarkBlue;
  }
}