@import './variables';

@mixin flex ($a: center, $b: center) {
  display: flex;
  justify-content: $a;
  align-items: $b;
}

@mixin border($color: $colorGrey) {
  border: 1px solid $color;
}

@mixin button-icon(
  $color: $colorBlack,
  $colorBg: $colorWhite,
  $hoverColor: $colorWhite,
  $hoverColorBg: $colorLightGrey,
  $borderRadius: $buttonBorderRadius
) {
  @include flex;
  @include border($colorWhite);
  width: 45px;
  color: $color;
  background-color: $colorBg;
  height: 45px;
  border-radius: $borderRadius;
  transition: all $animationDuration;
  cursor: pointer;

  svg {
    font-size: 2rem;
  }

  &:hover {
    background-color: $hoverColorBg;
    color: $hoverColor;
  }
}

@mixin button(
  $color: $colorBlack,
  $colorBg: $colorWhite,
  $borderColor: $colorGrey,
  $hoverColor: $colorWhite,
  $hoverColorBg: $colorGrey,
  $hoverColorAc: $colorDarkGrey,
  $p1: 10px,
  $p2: 14px,
) {
    @include flex;
    @include border($borderColor);
    padding: $p1 $p2;
    color: $color;
    background-color: $colorBg;
    border-radius: $buttonBorderRadius;
    transition: all $animationDuration;
    cursor: pointer;

    svg {
      font-size: $iconFontSize;
      margin-right: 10px;
    }

    &:hover {
      background-color: $hoverColorBg;
      color: $hoverColor;
    }

    &:active {
      background-color: $hoverColorAc;
    }
}