$colorRed: #f7192f;
$colorOrange: #ff7300;
$colorYellow: #ffc934;
$colorGreen: #08b817;
$colorBlue: #1573ff;
$colorViolet: #6133b4;

$colorLightRed: #e23f50;
$colorLightOrange: #ff8928;
$colorLightYellow: #ff9900;
$colorLightGreen: #56d160;
$colorLightBlue: #3b89ff;
$colorLightViolet: #8b55f0;

$colorLightRed1: #ffdede;
$colorLightOrange1: #ffb980;
$colorLightYellow1: #fff9eb;
$colorLightGreen1: #dbecdd;
$colorLightBlue1: #c1daff;

$colorLightBlue2: #e8f0fe;

$colorNone: rgba(0, 0, 0, 0);
$colorLight: rgba(255, 255, 255, 0.18);
$colorLight2: rgba(255, 255, 255, 0.28);
$colorDark: rgba(8, 8, 8, 0.08);
$colorDark2: rgba(8, 8, 8, 0.11);



$colorDarkRed: #dc3545;
$colorDarkOrange: #df6400;
$colorDarkYellow: #ecb620;
$colorDarkGreen: #059712;
$colorDarkBlue: #185abc;
$colorDarkViolet: #6133b4;

$colorWhite: white;
$colorBlack: #2a2a2a;
$colorGrey: #909090;

$colorLightGrey: #a3a3a3;
$colorLightGrey1: #acacac;
$colorLightGrey2: #c9c9c9;
$colorLightGrey3: #d8d8d8;
$colorLightGrey4: #ebebeb;

$colorDarkGrey:#767676;
$colorDarkGrey1:#666666;
$colorDarkGrey2:#555555;
$colorDarkGrey3:#434343;

$colorShadow: #1c314133;
$colorBackdrop: rgba(0, 0, 0, 0.6);
$colorBackdropDark: rgba(0, 0, 0, 0.85);
$colorTransparentWhite: rgba(255, 255, 255, 0.3);

$homePageGradient: linear-gradient(0deg, $colorViolet 0%, $colorViolet 20%, $colorWhite 100%);
$darkGradient: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 70%, rgba(0, 0, 0, 0.6) 100%);

$headerHeight: 80px;
$footerHeight: 420px;
$minHomePageHeigth: 500px;
$maxWidthAuthForm: 560px;

$paddingVertical: 20px;
$paddingHorizontal: 30px;

$animationDuration: 0.12s;
$buttonBorderRadius: 5px;
$iconFontSize: 1.2rem;

$storageHeaderHeight: 70px;
$storagePathHeight: 55px;
$storageSorterHeight: 50px;
$storageLastHeight: 180px;

$storageMargin: 10px;
$storagePadding: 10px;

$storageBorder: 1px solid $colorLightGrey3;
