$colorRed: #f7192f;
$colorOrange: #ff7e14;
$colorYellow: #ffeb34;
$colorGreen: #20d52f;
$colorBlue: #1573ff;
$colorViolet: #6133b4;

$colorLightRed: #e23f50;
$colorLightOrange: #ff8928;
$colorLightYellow: #ff9900;
$colorLightGreen: #28b133;
$colorLightBlue: #3b89ff;
$colorLightViolet: #8b55f0;

$colorLightRed1: #ffdede;
$colorLightOrange1: #ffb980;
$colorLightYellow1: #fff9eb;
$colorLightGreen1: #dfffe3;

$colorDarkRed: #dc3545;
$colorDarkOrange: #df6400;
$colorDarkYellow: #ffeb34;
$colorDarkGreen: #20d630;
$colorDarkBlue: #0052ce;
$colorDarkViolet: #6133b4;

$colorWhite: white;
$colorBlack: #2a2a2a;
$colorGrey: #909090;

$colorLightGrey: #a3a3a3;
$colorLightGrey1: #acacac;
$colorLightGrey2: #c9c9c9;
$colorLightGrey3: #d8d8d8;
$colorLightGrey4: #e8e8e8;

$colorDarkGrey:#767676;
$colorDarkGrey1:#666666;
$colorDarkGrey2:#555555;
$colorDarkGrey3:#434343;

$colorShadow: #223c5033;

$homePageGradient: linear-gradient(0deg, $colorViolet 0%, $colorViolet 20%, $colorWhite 100%);

$headerHeight: 80px;
$footerHeight: 420px;
$minHomePageHeigth: 500px;
$maxWidthAuthForm: 560px;

$paddingVertical: 20px;
$paddingHorizontal: 30px;

$animationDuration: 0.15s;
$buttonBorderRadius: 5px;
$iconFontSize: 1.2rem;

