$colorRed: #dc3545;
$colorOrange: #ff7300;
$colorYellow: #ffeb34;
$colorGreen: #20d630;
$colorBlue: #0d6efd;
$colorViolet: #6133b4;

$colorLightRed: #dc3545;
$colorLightOrange: #ff7300;
$colorLightYellow: #ffeb34;
$colorLightGreen: #20d630;
$colorLigthBlue: #2ad2ef;
$colorLightViolet: #6133b4;

$colorDarkRed: #dc3545;
$colorDarkOrange: #ff7300;
$colorDarkYellow: #ffeb34;
$colorDarkGreen: #20d630;
$colorDarkBlue: #0d6efd;
$colorDarkViolet: #6133b4;

$colorWhite: white;
$colorBlack: #2a2a2a;
$colorGrey: #909090;

$colorLightGrey: #a3a3a3;
$colorLightGrey1: #acacac;
$colorLightGrey2: #c9c9c9;
$colorLightGrey3: #d4d4d4;

$colorDarkGrey:#767676;
$colorDarkGrey1:#666666;
$colorDarkGrey2:#555555;
$colorDarkGrey2:#434343;

$homePageGradient: linear-gradient(0deg, $colorViolet 0%, $colorViolet 20%, $colorWhite 100%);

$headerHeight: 80px;
$footerHeight: 120px;

$paddingVertical: 20px;
$paddingHorizontal: 30px;

$animationDuration: 0.2s;
$buttonBorderRadius: 5px;

