* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

body.win, body.mac {
  overflow: hidden;
}

a {
  text-decoration: none;
}

body {
  font-family: 'RubikRegular';
  letter-spacing: -0.5px;
  font-size: 1rem;
}