@import 'styles/templates.scss';

.logo {
  display: flex;
  align-items: center;
  cursor: pointer;

  &__icon {
    font-size: 3rem;
    color: $colorBlack;
    border-radius: 5px;
  }

  &__name {
    font-weight: bold;
    font-size: 1.7rem;
    margin-left: 8px;
  }
}

@media screen and (max-width: 500px) {
  .logo {
    &__icon {
      font-size: 2.6rem;
    }
  
    &__name {
      font-size: 1.5rem;
      margin-left: 8px;
    }
  }
}