@import 'styles/templates.scss';

.path-more {
  @include flex;
  @include no-select;
  position: absolute;
  cursor: pointer;
  padding: 5px;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  border-radius: 5px;
  border: 1px solid $colorWhite;
  transition: all $animationDuration;

  &__icon {
    font-size: 2rem;
    color: $colorDarkGrey3;
  }

  .popup {
    width: 300px;
    top: 38px;
    left: 0;
    z-index: 100;
  }

  &:hover {
    background-color: $colorLightGrey4;
  }

  &:active {
    background-color: $colorLightGrey3;
  }
}

.path-more.active {
  background-color: $colorLightBlue2;
  border: 1px solid $colorLightBlue1;

  .path-more__icon {
    color: $colorDarkBlue;
  }
}
