@import 'styles/templates.scss';

.path-more {
  @include flex;
  @include button-el-active;
  position: absolute;
  padding: 5px;
  height: 35px;
  width: 35px;
  border-radius: 5px;

  &__icon {
    font-size: 2rem;
    color: $colorDarkGrey3;
  }

  .popup {
    width: 300px;
    top: 38px;
    left: 0;
    z-index: 100;
  }

  &.active {
    .path-more__icon {
      color: $colorDarkBlue;
    }
  }
}
