@import 'styles/templates.scss';

.footer {
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background: $homePageGradient;
  background: $homePageGradient;
  height: auto;
  min-height: $minHomePageHeigth;


  .stars {
    top: 10vh;
    z-index: 5;
  }
  
  .mountains {
    bottom: 0;
    z-index: 10;
  }

  .hills {
    bottom: 0;
    z-index: 15;
  }

  .register-form {
    background-color: $colorWhite;
    padding-top: 1vh;  
    padding-bottom: 12vh;
    z-index: 20;
  }
}

@media screen and (min-width: 500px) {
  .footer {
    height: calc(100vh - 80px);

    .register-form {
      background-color: transparent;
      padding-top: 15vh;
      padding-bottom: 0px;
    }
  }
}