@import 'styles/templates.scss';

.storage-menu {
  width: 250px;
  padding: 0 $storagePadding;
  padding-top: 20px;

  &__create-button {
    font-size: 1.1rem;
    margin-left: 5px;
    width: 45px;
    height: 45px;
    margin-bottom: 15px;
    
    .button__icon {
      margin: 0;
      font-size: 1.7rem;
    }
  }

  &__create-button.open {
    width: 240px;
    .button__icon {
      margin-right: 5px;
    }
  }

  &__toggle-button {
    margin-top: 5px;
    position: relative;
    width: 100%;
  }

  &__toggle {
    position: absolute;
    right: 7px;

    .button__icon {
      transition: all $animationDuration;
      color: $colorDarkGrey3;
      font-size: 1.8rem !important;
    }
  }

  &__toggle.open {
    .button__icon {
      transition: all $animationDuration;
      transform: rotate(90deg);
    }
  }

  &__size {
    position: relative;
    margin-top: 80px;
    width: 250px;
    padding: 0 5px;

    .storage-size {
      top: 0;
      left: 5px;
    }
  }
}

@media screen and (max-width: 1000px) {
  .storage-menu {
    display: none;
  }
}