@import 'styles/templates.scss';

.player-progress {
  position: relative;
  height: 17px;
  cursor: pointer;
  background-color: $colorLightGrey2;

  &__line {
    width: 30%;
    height: 100%;
    background-color: $colorYellow;
  }

  &__duration {
    display: flex;
    align-items: center;
    position: absolute;
    right: 0;
    height: 100%;
    top: 0;
    font-size: 0.7rem;
    padding-right: 10px;
    padding-top: 2px
  }

  &__title {
    @include flex;
    font-size: 0.8rem;
    position: absolute;
    top: -45px;
    left: 0;
    border-radius: 3px;
    width: 35px;
    height: 25px;
    background-color: $colorWhite;
    box-shadow: 0 0px 15px 5px $colorShadow;
  }

  &__triangle {
    position: absolute;
    bottom: -17px;
    width: 0px;
    height: 10px;
    border: 10px solid transparent; border-top: 10px solid $colorWhite;
  }
}