@import 'styles/templates.scss';

.album-modal {
  position: relative;
  border: 1px solid $colorDarkGrey2;
  border-radius: 5px;
  padding: 30px;
  background-color: rgba(0, 0, 0, 0.1);

  &__open-change-modal {
    position: absolute;
    top: -50px;
    right: -50px;

    .icon-size {
      svg {
        font-size: 1.8rem;
      }
    }
  }

  &__header {
    display: flex;
  }

  &__titles {
    padding-left: 25px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  
  &__img {
    width: 170px;
  }

  &__image {
    width: 170px;
    height: 170px;
  }

  &__likes {
    display: flex;
  }

  &__listen {
    font-size: 1rem;
    padding: 10px 0;
    display: flex;
    align-items: center;
    margin-right: 5px;
  }

  &__type {
    font-size: 0.9rem;
    letter-spacing: 0.2px;
  }

  &__name {
    width: 220px;
    font-size: 1.8rem;
    padding-top: 5px;
  }

  &__author {
    padding-top: 5px;
    font-size: 1.1rem;
  }

  &__tracks {
    padding-top: 10px;
    margin-top: 10px;
    max-height: 200px;
    overflow: auto;
  }

  &__tracks::-webkit-scrollbar {
    width: 8px;
  }

  &__tracks::-webkit-scrollbar-track {
    background: $colorWhite;
    width: 10px;
  }

  &__tracks::-webkit-scrollbar-thumb {
    background-color: $colorLightGrey2;
    border: 1px solid $colorWhite;
  }

  &__player {
    padding-top: 5px;
    display: flex;

    .icon-size {
      margin-left: 10px;
      svg {
        font-size: 1.4rem;
      }
    }
  }
}
