@import 'styles/templates.scss';

.album-modal {
  position: relative;
  border: 1px solid $colorDarkGrey;
  border-radius: 10px;
  padding: 20px;

  &__open-change-modal {
    position: absolute;
    top: -50px;
    right: -50px;
  }

  &__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__titles {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  &__image {
    width: 320px;

    img {
      width: 100%;
    }
  }

  &__name {
    padding-top: 15px;
    font-size: 2rem;
    margin-bottom: 10px;
  }

  &__author {
    padding-top: 5px;
    font-size: 1.3rem;
  }

  &__tracks {
    width: 320px;
    margin-top: 30px;
    padding: 5px;
    max-height: 200px;
    border-radius: 5px;
    overflow: auto;
  }

  &__tracks::-webkit-scrollbar {
    width: 8px;
  }

  &__tracks::-webkit-scrollbar-track {
    background: $colorWhite;
    width: 10px;
  }

  &__tracks::-webkit-scrollbar-thumb {
    background-color: $colorLightGrey2;
    border: 1px solid $colorWhite;
  }

  &__player {
    margin-top: 25px;
    width: 320px;
  
    .button {
      width: 100%;
    }
  }
}
