@import 'styles/templates.scss';

.track-modal {
  &__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__titles {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  &__image {
    width: 320px;

    img {
      width: 100%;
    }
  }

  &__name {
    padding-top: 15px;
    font-size: 2rem;
    margin-bottom: 10px;
  }

  &__author {
    padding-top: 5px;
    font-size: 1.3rem;
  }

  &__words {
    width: 320px;
    margin-top: 30px;
    padding: 5px;
    max-height: 200px;
    border-radius: 5px;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.07);
  }

  &__player {
    margin-top: 30px;
    width: 320px;
  
    .button {
      width: 100%;
    }
  }
}
