@import 'styles/templates.scss';

.track-modal {
  &__words {
    padding-top: 10px;
    margin-top: 10px;
    max-height: 200px;
    overflow: auto;
  }

  &__words ::-webkit-scrollbar {
    width: 8px;
  }

  &__words ::-webkit-scrollbar-track {
    background: $colorWhite;
    width: 10px;
  }

  &__words ::-webkit-scrollbar-thumb {
    background-color: $colorLightGrey2;
    border: 1px solid $colorWhite;
  }
}
