@import 'styles/templates.scss';

.popup {
  position: absolute;
  right: 0;
  top: 50px;
  box-shadow: 0px 0px 4px 1px $colorShadow;
  border: 1px solid $colorLightGrey3;
  background-color: $colorWhite;
  border-radius: 5px;
  width: 100%;
  z-index: 49;
  padding: 15px 0;
}

.popup-modal {
  display: none;
}

@media screen and (max-width: 500px) {
  .popup {
    display: none;
  }

  .popup-modal {
    display: flex;
  }
}