@import 'styles/templates.scss';

.user {
  position: relative;
  display: flex;
  align-items: center;
  
  &__auth {
    @include flex;
    @include no-select;
    font-size: 1.5rem;
    color: $colorWhite;
    transition: all $animationDuration;
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: $colorOrange;
    padding: 5px;
  }

  &__auth:hover {
    outline: 5px solid $colorLightGrey4;
  }

  &__auth.active {
    outline: 5px solid $colorLightBlue2;
  }

 .popup {
    width: 300px;
  }
}