@import 'styles/templates.scss';

.storage-path {
  display: flex;
  align-items: center;
  padding: $storagePadding;
  padding-left: 5px;
  height: $storagePathHeight;
  border-bottom: $storageBorder;
  // overflow-y: hidden;
  // overflow-x: auto;

  & > * {
    flex: 0 0 auto;
  }

  &__my-drive {
    @include button-el;
    display: flex;
    color: $colorDarkGrey2;
    align-items: center;
    font-size: 1.1rem;
    height: 35px;
    padding: 0 5px;
    border-radius: 5px;
  }

  &__right {
    @include flex;
    color: $colorDarkGrey;
    font-size: 1.3rem;
    width: 20px;
  }

  &__more {
    @include flex;
    min-width: 40px;
    height: 35px;
  }
}

@media screen and (max-width: 500px) {
  .storage-path {
    height: $storagePathHeight - 6px;

    &__my-drive {
      font-size: 1rem;
    }

    &__more {
      position: relative;
      z-index: 49;
    }
  }  
}