@import 'styles/templates.scss';

.storage-path {
  position: relative;
  display: flex;
  align-items: center;
  padding: $storagePadding;
  height: $storagePathHeight;
  border-bottom: $storageBorder;

  &__my-drive {
    @include button-el;
    display: flex;
    color: $colorDarkGrey2;
    align-items: center;
    font-size: 1.1rem;
    height: 35px;
    padding: 0 5px;
    border-radius: 5px;
  }

  &__right {
    @include flex;
    color: $colorDarkGrey;
    font-size: 1.3rem;
  }

  &__more {
    @include flex;
    min-width: 40px;
    height: 35px;
  }
}

@media screen and (max-width: 500px) {
  .storage-path {
    overflow-x: scroll;
    overflow-y: hidden;
  }
}
