@import 'styles/templates.scss';

.modal {
  position: relative;
  max-width: 600px;
  background-color: $colorWhite;
  box-shadow: 0 0 6px 3px $colorShadow;
  padding: 30px;
  border-radius: 8px;

  &__close-button {
    @include flex;
    width: 45px;
    height: 45px;
    cursor: pointer;
    position: absolute;
    top: -40px;
    right: -40px;
    font-size: 2rem;
    color: $colorWhite;
    transition: all $animationDuration;
  }

  &__close-button:hover {
    transform: rotate(90deg);
  }
}

@media screen and (max-width: 500px) {
  .modal {
    height: 100%;
    width: 100%;
    border-radius: 0px;
    padding: 25px 20px;

    &__close-button {
      @include button-el;
      border-radius: 50%;
      top: 15px;
      right: 15px;
      color: $colorBlack;
      font-size: 1.6rem;
    }

    &__close-button:hover {
      transform: none;
    }
  }
}