@import 'styles/templates.scss';

.storage-mobile-menu-item {
  color: $colorBlack;
  transition: color $animationDuration;
  display: flex;
  align-items: center;
  height: 45px;

  &:hover {
    color: $colorDarkBlue;

    .storage-menu-item__icon {
      color: $colorDarkBlue;
    }
  }

  &__icon {
    @include flex;
    transition: color $animationDuration;
    font-size: 1.4rem;
    min-width: 60px;
    color: $colorDarkGrey3;
  }
}

.storage-mobile-menu-item.active {
  color: $colorBlue;

  .storage-mobile-menu-item__icon {
    color: $colorBlue;
  }
}