.hills {
  background: url('https://habitica.com/static/img/midground_foreground_extended2.0fe8082c.png') no-repeat;
  background-position: bottom;
  width: 100%;
  position: absolute;
  height: 150px;
}