@import 'styles/templates.scss';

.notifier {
  position: fixed;
  z-index: 310;
  padding-left: 20px;
  bottom: 7vh;
  left: 0;
}

@media screen and (min-width: 500px) {
  .notifier {
    padding-left: 30px;
  }
}
