@import 'styles/templates.scss';

.delete-modal {
  width: 440px;

  &__title {
    font-size: 1.4rem;
    margin: 0;
    margin-bottom: 30px;
  }

  &__items {
    border-top: $storageBorder;
    max-height: 300px;
    overflow: auto;
  }
}

@media screen and (max-width: 500px) {
  .delete-modal {
    width: 100%;
  }
}