@import 'styles/templates.scss';

.popup-menu-item {
  @include button-el;
  color: $colorBlack;
  display: flex;
  align-items: center;
  height: 40px;
  width: 100%;
  padding-left: 25px;

  &.icon {
    display: flex;
  }

  &__icon {
    font-size: 1.6rem;
    margin-right: 10px;
  }
}