@import 'styles/templates.scss';

.confirm {
  &__buttons {
    padding-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .button {
      height: 45px;
    }
  }
}