@import 'styles/templates.scss';

.path-item {
  @include button-el-active;
  display: flex;
  align-items: center;
  font-size: 1.1rem;
  height: 35px;
  padding: 0 5px;
  border-radius: 5px;
  color: $colorDarkGrey3;
  border: 1px solid $colorWhite;
  
  &__icon {
    @include flex;
    display: none;
    font-size: 1.1rem;
    width: 16px;
    height: 1px;
    margin-left: 5px;
    color: $colorDarkGrey1;
  }
}

.path-item.last {
   .path-item__icon {
      display: flex;
  }
}

@media screen and (max-width: 500px) {
  .path-item {
    font-size: 1rem;
  }  
}