@import 'styles/templates.scss';

.header {
  @include flex;
  padding: $paddingVertical $paddingHorizontal;
  justify-content: space-between;
  height: $headerHeight;
  position: sticky;
  top: 0;
  z-index: 30;
  background-color: $colorWhite;

  &__menu {
    display: flex;
    align-items: center;
  }

  &__burger {
    display: none;

    .button.icon {
      .button__icon {
        font-size: 2.5rem;
      }
    }
  }
}

@media screen and (max-width: 460px) {
  .header__user {
    display: none;
  }
}

@media screen and (max-width: 680px) {
  .header {
    padding: 20px;
  }
  .header__burger {
    display: block;
    margin-right: 20px;
  }
}