@import 'styles/templates.scss';

.storage-logo {
  padding-left: 5px;
  display: flex;
  align-items: center;
  width: 250px;

  &__mobile-logo {
    display: none;
  }

  &__desctop-logo {
    display: block;
  }

  &__menu {
    display: none;
    margin-right: $storageMargin;
  }
}

@media screen and (max-width: 1000px) {
  .storage-logo {
    min-width: 210px;
    max-width: 210px;

    &__menu {
      display: block;
    }

    &__mobile-logo {
      display: block;
    }
  
    &__desctop-logo {
      display: none;
    }
  }
}

@media screen and (max-width: 710px) {
  .storage-logo {
    min-width: 60px;
    max-width: 60px;

    &__mobile-logo {
      display: none;
    }
  }
}