@import 'styles/templates.scss';

@media screen and (min-width: 500px) {
  .reset-password-page {
    // align-items: center;

    .reset-password-form {
      // margin-top: -30vh;
      height: auto;
      padding: 20px;
      border-radius: 10px;
    }
  }
}
