@import 'styles/templates.scss';

.view-item-layout {
  position: relative;
  border: 1px solid $colorDarkGrey2;
  border-radius: 5px;
  padding: 30px;
  background-color: rgba(0, 0, 0, 0.1);

  &__change-modal {
    position: absolute;
    top: -50px;
    right: -50px;

    .icon-size {
      svg {
        font-size: 1.8rem;
      }
    }
  }
}
