@import 'styles/templates.scss';

.view-item-layout {
  position: relative;
  border: 1px solid $colorDarkGrey2;
  border-radius: 5px;
  padding: 30px;
  background-color: rgba(0, 0, 0, 0.3);

  &__change-modal {
    position: absolute;
    top: 10px;
    right: 10px;

    svg {
      font-size: 1.6rem;
    }
  }
}
