@import 'styles/templates.scss';

.storage-menu-item {
  display: flex;
  align-items: center;
  height: 50px;

  &__icon {
    @include flex;
    font-size: 1.5rem;
    min-width: 60px;
    color: $colorDarkGrey3;
  }

  &__title {
    position: absolute;
    left: 70px;
    font-size: 1.1rem;
  }
}
