@import 'styles/templates.scss';

.mobile-menu-item {
  cursor: pointer;
  display: block;
  padding: 15px 30px;
  margin-bottom: 5px;
  font-size: 1.1rem;
  transition: all $animationDuration;
}

.mobile-menu-item.active {
  color: $colorBlue;
}