@import 'styles/templates.scss';

.storage-user {
  display: flex;
  align-items: center;
  min-width: 50px;
  padding-left: 4px;
  margin-left: $storageMargin;
}

@media screen and (max-width: 560px) {
  .storage-user {
    display: none !important;
  }
}