@import 'styles/templates.scss';

.storage-user {
  background-color: rgb(182, 73, 255);
  min-width: 50px;
  margin-left: $storageMargin;
}

@media screen and (max-width: 560px) {
  .storage-user {
    display: none !important;
  }
}