@import 'styles/templates.scss';

.storage-user {
  padding-top: 5px;
  min-width: 50px;
  padding-left: 5px;
  margin-left: $storageMargin;

  &.open {
    .popup {
      left: 0;
    }
  }
}

@media screen and (max-width: 1270px) {
  .storage-user {
    display: none !important;
  }
}